@model Acetesa.TomaPedidos.AdminMvc.Models.PrecioViewModel

@{
    ViewBag.Title = "Consulta de Precio";
}

<div class="container">

    @using (Ajax.BeginForm(new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "OnBegin",
        OnComplete = "OnComplete",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        UpdateTargetId = "result"
    }))
    {
        @Html.AntiForgeryToken()

        <form>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card mb-1">
                <div class="card-header bg-success text-white">
                    <h3>
                        Consulta de Precios de <b>Acetesa</b>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="col-12 mb-3">
                        @Html.LabelFor(model => model.ListaPrecios, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.ListaPrecios, ViewBag.GetListaPrecios as SelectList, new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.ListaPrecios, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 mb-3 FamiliaGroup">
                        @Html.LabelFor(model => model.Familia, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.Familia, ViewBag.GetFamilias as SelectList, new { @class = "selectpicker" })
                        @Html.ValidationMessageFor(model => model.Familia, "", new { @class = "text-danger" })
                        <script>
                            $('#Familia').prop('multiple', 'multiple');
                            $('#Familia').attr('data-width', '100%');
                        </script>
                    </div>
                    <div class="col-12 mb-3 SubFamiliaGroup">
                        @Html.LabelFor(model => model.SubFamilia, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.SubFamilia, ViewBag.GetSubFamilias as SelectList, new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.SubFamilia, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 mb-3">
                        @Html.LabelFor(model => model.Stocks, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.Stocks, ViewBag.GetStocks as SelectList, new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.Stocks, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <input type="submit" value="Buscar" class="btn btn-dark" />
                </div>
            </div>
        </form>
    }



    @section CssTop{
        @*<link href="~/Content/toastr.min.css" rel="stylesheet" />*@
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    }

    @section Scripts {
        @Styles.Render("~/Content/ui")
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/lib/Ajax.js?v=1"></script>
        <script src="~/Scripts/app/PrecioScript.js"></script>
        <script src="~/Scripts/jquery.fileDownload.js?v=1"></script>
        <script src="~/Scripts/toastr.min.js"></script>
        <script src="~/Scripts/bootstrap-select.min.js"></script>
        <script>
            var urlGetSubFamilias ="@Url.Action("GetSubFamilias", "Producto")";
        </script>
        <script type="text/javascript">

            var $Familia = $("#Familia");
            var $SubFamilia = $("#SubFamilia");
            $Familia.change(function () {

                var familiaSelected = String($Familia.val());

                if ((familiaSelected.indexOf(",") >= 0)) {
                    //Oculta subgrupo
                    $(".SubFamiliaGroup").hide();
                }
                else {
                    //Muestra subgrupo
                    $(".SubFamiliaGroup").show();
                    $.ajax({
                        destroy: true,
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: urlGetSubFamilias,
                        data: JSON.stringify({
                            empresa: "acetesa",
                            codFamilia: familiaSelected
                        }),
                        dataType: "json",
                        beforeSend: function () {
                            //$('#Loading').modal('show');
                            //var myModal = new bootstrap.Modal(document.getElementById("Loading"), {});
                            //    myModal.show();
                        },
                        success: function (result) {
                            $SubFamilia.html("");
                            //alert(JSON.stringify(result));
                            $.each(result, function (index, item) {
                                var html = "<option value='" + item.Value + "'>";
                                html += item.Text;
                                html += "</option>";
                                $SubFamilia.append(html);
                            });
                        },
                        error: function (result) {
                            alert("Error en javascript...");
                        },
                        complete: function () {
                        }
                    });


                }
            });



            //Propiedad selectPicker Familia
            $(document).ready(function () {
                $('.selectpicker').selectpicker();
            });
        </script>
    }

    <div class="table-responsive" id="result">
        @{
            Html.RenderPartial("_PartialPrecioList_Acetesa", Model);
        }
    </div>

</div>


