@model Acetesa.TomaPedidos.AdminMvc.Models.StockPorGrupoViewModel
@{
    ViewBag.Title = "Stock Por Familia";
}
@*<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />*@
<div class="container">

    @*<h3>Stock Por Familia - Acetesa</h3>*@

    @using (Ajax.BeginForm(new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "OnBegin",
        OnComplete = "OnComplete",
        OnFailure = "OnFailure",
        UpdateTargetId = "result"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="form mb-3">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card mb-1">
                <div class="card-header bg-success text-white">
                    <h3>
                        Consulta de Stock de <b>Acetesa</b>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.Empresa, htmlAttributes: new { @class = "form-label col-md-2 d-none" })
                            @Html.DropDownListFor(model => model.Empresa, ViewBag.GetEmpresas as SelectList, new { @class = "form-select d-none" })
                            @Html.ValidationMessageFor(model => model.Empresa, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.Tienda, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.Tienda, ViewBag.GetTiendas as SelectList, new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Tienda, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.Familia, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.Familia, ViewBag.GetFamilias as SelectList, new { @class = "selectpicker" })
                            @Html.ValidationMessageFor(model => model.Familia, "", new { @class = "text-danger" })
                            <script>
                                $('#Familia').prop('multiple', 'multiple');
                                $('#Familia').attr('data-width', '100%');
                            </script>
                        </div>
                        <div class="col-12 mb-3 SubFamiliaGroup">
                            @Html.LabelFor(model => model.SubGrupo, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.SubGrupo, ViewBag.GetSubFamilias as SelectList, new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.SubGrupo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.Tipo, ViewBag.GetTipos as SelectList, new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 mb-3 d-none">
                            @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <input type="submit" value="Buscar" class="btn btn-dark" />
                </div>
            </div>
        </div>
    }
    <div id="result">
        @{Html.RenderPartial("_PartialStockPorGrupoList", Model); }
    </div>

    @section CssTop{
        @Styles.Render("~/Content/ui")
        <link href="~/Content/toastr.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/jquery.maskedinput.min.js"></script>
        <script src="~/Scripts/toastr.min.js"></script>
        <script src="~/Scripts/lib/Ajax.js?v=1"></script>
        <script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
        <script src="~/Scripts/lib/jquery.aCollapTable.js"></script>
        <script>
            _baseUrl = "@ViewBag.BaseUrl";
        </script>
        <script src="~/Scripts/app/StockPorGrupo.js?v=2"></script>
        <script src="~/Scripts/jquery.fileDownload.js?v=1"></script>
        <script src="~/Scripts/bootstrap-select.min.js"></script>
        <script>
            var urlGetSubFamilias ="@Url.Action("GetSubFamilias", "Producto")";
        </script>


        <script type="text/javascript">

            var $Familia = $("#Familia");
            var $SubFamilia = $("#SubGrupo");

            $Familia.change(function () {

                var familiaSelected = String($Familia.val());

                if ((familiaSelected.indexOf(",") >= 0)) {
                    //Oculta subgrupo
                    $(".SubFamiliaGroup").hide();
                }
                else {
                    //Muestra subgrupo
                    $(".SubFamiliaGroup").show();
                    //Recupera segun selección única
                    //var request = new Ajax("");
                    //var params = {
                    //    empresa: "acetesa",
                    //    codFamilia: $(this).val()
                    //};
                    //$SubFamilia.html("");
                    //request.JsonPost("GetSubFamilias", params, function (data) {
                    //    $.each(data, function (index, item) {
                    //        var html = "<option value='" + item.Value + "'>";
                    //        html += item.Text;
                    //        html += "</option>";
                    //        $SubFamilia.append(html);
                    //    });
                    //});



                    $.ajax({
                        destroy: true,
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: urlGetSubFamilias,
                        data: JSON.stringify({
                            empresa: "acetesa",
                            codFamilia: familiaSelected
                        }),
                        dataType: "json",
                        beforeSend: function () {
                        },
                        success: function (result) {
                            $SubFamilia.html("");
                            $.each(result, function (index, item) {
                                var html = "<option value='" + item.Value + "'>";
                                html += item.Text;
                                html += "</option>";
                                $SubFamilia.append(html);
                            });
                        },
                        error: function (result) {
                            alert("Error en javascript...");
                        },
                        complete: function () {
                        }
                    });



                }

            });

            //Propiedad selectPicker Familia
            $(document).ready(function () {
                $('.selectpicker').selectpicker();
            });
        </script>
    }


</div>
