
@{
    ViewBag.Title = "Cartera Cliente";
}

<div class="container">


    <form>
        <div class="card">
            <div class="card-header bg-success text-white">
                <h3>
                    Cartera de Clientes
                </h3>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="sAsignado" class="form-label">Tipo de Clientes</label>
                    <select class="form-select" aria-label="Default select example" id="sAsignado">
                        <option value="%">Todos</option>
                        <option value="1" selected>Asignados</option>
                        <option value="0">No Asignados</option>
                    </select>
                </div>

            </div>
            <div class="card-footer bg-white">
                <input type="button" value="Buscar" class="btn btn-dark" onclick="buscarCliente();" />
                <input type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-gestion-cliente" value="Nuevo" onclick="OpcionesAbrirNuevoModal();">
            </div>
        </div>
    </form>


    <div class="card">
        <div class="card-header">
            <a class="btn btn-success" onclick="tableToExcel();"><i class="fa fa-file-excel-o"></i> Descargar Excel</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="table-clientesAsignadosLibres" class="table table-striped w-100">
                    <thead class="bg-secondary text-white">
                        <tr style="font-weight:bold;">
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">Asignado</td>
                            <td style="display:none;">Asignado</td>
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">#</td>
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">Ruc</td>
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">Razón Social</td>
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">Sector</td>
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">Aseguradora</td>
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">Límite</td>
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">Departamento</td>
                            <td style="text-align:center; border-right:dashed 0.2px #214820;">Provincia</td>
                            <td style="text-align:center;">Distrito</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody style=""></tbody>
                </table>
            </div>
        </div>
        @*<div class="card-footer">

            </div>*@
    </div>

</div>

@{Html.RenderPartial("_PartialClienteEditar");}


@section CssTop{
    @Styles.Render("~/Content/ui")
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />*@
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    @*<script src="~/Scripts/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/lib/Ajax.js?v=1"></script>
    <script src="~/Scripts/app/email-service.js?v=1"></script>
    <script src="~/Scripts/app/ClienteGestionScript.js?v=1"></script>
    @*<script src="~/Scripts/bootstrap-select.min.js"></script>*@
    <script type="text/javascript">
        var urlClienteAsignadoLibre = "@Url.Action("ClientesAsignadosLibresSelect", "Cliente")";
        var urlBuscarCliente = "@Url.Action("ClientesAsignadosLibres", "Cliente")";
        var urlActualizarCartera = "@Url.Action("ActualizarAsignacionClienteVendedor", "Cliente")";
        var urlSelectTipoDocumentoIdentidad = "@Url.Action("SelectTipoDocumentoIdentidad", "Cliente")";
        var urlSelectProcedencias = "@Url.Action("SelectProcedencias", "Cliente")";
        var urlSelectDepartamento = "@Url.Action("SelectDepartamento", "Cliente")";
        var urlSelectProvincia = "@Url.Action("SelectProvincia", "Cliente")";
        var urlSelectDistrito = "@Url.Action("SelectDistrito", "Cliente")";
        var urlSelectPais = "@Url.Action("SelectPais", "Cliente")";
        var urlSelectZonas = "@Url.Action("SelectZonas", "Cliente")";
        var urlSelectSector = "@Url.Action("SelectSector", "Cliente")";
        var urlSelectCategorias = "@Url.Action("SelectCategorias", "Cliente")";
        var urlSelectEstadosCliente = "@Url.Action("SelectEstadosCliente", "Cliente")";
        var urlSelectMonedaFacturacion = "@Url.Action("SelectMonedaFacturacion", "Cliente")";
        var urlRegistrarCliente = "@Url.Action("RegistrarCliente", "Cliente")";
        
        var ls_table;


        $(document).ready(function () {
        buscarCliente();
        });

        function buscarCliente() {
        //Destruyendo Datatable
        if ($("#table-clientesAsignadosLibres") != null) {
            $("#table-clientesAsignadosLibres").DataTable().clear();
            $("#table-clientesAsignadosLibres").DataTable().destroy();
        }

        //Limpiando la tabla
            $("#table-clientesAsignadosLibres tbody").empty();

        $.ajax({
            destroy: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: urlBuscarCliente,
            data: JSON.stringify({
                EsAsignado: $("#sAsignado option:selected").val()
            }),
            dataType: "json",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var fila = i + 1;
                    if (result[i].asignado == true) {
                        var asignado = "SI";
                        var checkbox = '<input type="checkbox" id="checkbox-' + result[i].ruc + '" checked="checked" onclick="actualizarAsignacionCliente(' + result[i].ruc+');" />'
                    }
                    else {
                        var asignado = "NO";
                        var checkbox = '<input type="checkbox" id="checkbox-' + result[i].ruc + '" onclick="actualizarAsignacionCliente(' + result[i].ruc +');"  />'
                    }

                    //var creditoDisponible = result[i].montoTotalLimite - result[i].montoDeuda;
                    $("#table-clientesAsignadosLibres tbody").append('<tr>' +
                        '<td style="text-align:center; border-right:dashed 0.2px #214820;">' + checkbox + '</td>' +
                        '<td style="display:none;">' + asignado + '</td>' +
                        '<td style="text-align:center; border-right:dashed 0.2px #214820; vertical-align:middle;">' + fila + '</td>' +
                        '<td style="text-align:center; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].ruc +'</td>' +
                        '<td style="text-align:left; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].razonSocial + '</td>' +
                        '<td style="text-align:center; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].sector + '</td>' +
                        '<td style="text-align:center; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].aseguradora + '</td>' +
                        '<td style="text-align:right; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].montoTotalLimite.toLocaleString() + '</td>' +
                        //'<td style="text-align:right; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].montoDeuda.toLocaleString() + '</td>' +
                        //'<td style="text-align:right; border-right:dashed 0.2px #214820; vertical-align:middle;">' + creditoDisponible.toLocaleString() + '</td>' +
                        '<td style="text-align:center; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].departamento + '</td>' +
                        '<td style="text-align:center; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].provincia + '</td>' +
                        '<td style="text-align:center; border-right:dashed 0.2px #214820; vertical-align:middle;">' + result[i].distrito + '</td>' +
                        '<td style="vertical-align:middle;">' + '<button class="btn btn-sm btn-outline-primary fa fa-pencil-square-o" data-bs-toggle="modal" data-bs-target="#modal-gestion-cliente"></button>' + '</td>' +
                        //'<td style="text-align:center; vertical-align:middle;">' + result[i].fechaUltVenta + '</td>' +
                        '</tr > ');
                }
                ls_table = $('#table-clientesAsignadosLibres');

                //Destroy the old Datatable

                $('#table-clientesAsignadosLibres').DataTable({
                        order: [[2, 'asc']],
                        "pageLength": 50,
                        "language": {
                            "lengthMenu": "Mostrar _MENU_ registros",
                            "search": "Buscar:",
                            "info": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                            "infoFiltered": "(Filtrado de _MAX_ registros en total)",
                            "zeroRecords": "Sin resultados coincidentes",
                            "paginate": {
                                "first": "Primero",
                                "last": "Último",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            }
                        }
                    });

                //$('#table-clientesAsignadosLibres').DataTable({
                //    columnDefs: [
                //        {
                //            target: 0,
                //            visible: false,
                //            searchable: false,
                //        }
                //    ],
                //});
            },
            error: function (result) {
                alert("Error en javascript...");
            }
        });
        }

        function actualizarAsignacionCliente(ruc) {
            var confirmado = "No";
            var checkbox = $("#checkbox-" + ruc);
            if (checkbox.is(":checked")) {
                var asignar = true;
                if (confirm('¿Está seguro de agregar este cliente a su cartera?')) {
                    confirmado = "Si";
                } else {
                    confirmado = "No";
                }
            }
            else {
                var asignar = false;
                if (confirm('¿Está seguro de quitar este cliente de su cartera?')) {
                    confirmado = "Si";
                } else {
                    confirmado = "No";
                }
            }

            if (confirmado == "Si") {
                $.ajax({
                    destroy: true,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: urlActualizarCartera,
                    data: JSON.stringify({
                        rucCliente: ruc,
                        asignar: asignar
                    }),
                    dataType: "json",
                    success: function (result) {
                        var error = result.error;
                        var mensaje = result.mensaje;
                        if (error == "1") {
                            toastr.error(mensaje);
                        }
                        else {
                            toastr.success(mensaje);
                        }
                    },
                    error: function (result) {
                        alert("Error en javascript...");
                    }
                });
            }
            else {
                buscarCliente();
            }
        }


        function tableToExcel() {
            // Get the column API object
            var column = $('#table-clientesAsignadosLibres').DataTable().column(0);

            // Toggle the visibility
            column.visible(!column.visible());

            var table = "table-clientesAsignadosLibres"
            var sheetName = "Clientes"
            var fileName = "Mi Cartera de Clientes.xls";

            fileName = fileName;

            var uri = 'data:application/vnd.ms-excel;base64,',
                templateData = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
                base64Conversion = function (s) { return window.btoa(unescape(encodeURIComponent(s))) },
                formatExcelData = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

            $("tbody > tr[data-level='0']").show();

            if (!table.nodeType)
                table = document.getElementById(table)

            var ctx = { worksheet: sheetName || 'Worksheet', table: table.innerHTML }

            var element = document.createElement('a');
            element.setAttribute('href', 'data:application/vnd.ms-excel;base64,' + base64Conversion(formatExcelData(templateData, ctx)));
            element.setAttribute('download', fileName);
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);

            //Revert action
            column.visible(!column.visible());
        }

    </script>
}