@{
    ViewBag.Title = "Vendedor Asignado";
}

<div class="container">
    <div class="row">
        <h2>Vendedor Asignado</h2>
        <hr />
    </div>

    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <h5 style="font-weight:bold">Cliente:</h5>
        </div>
        <div class="col-md-9">
            <select id="sClientes" class="selectpicker" data-show-subtext="true" data-live-search="true" size="10"></select>
        </div>
    </div>

    <div class="row">
        <div class="bs-example" data-example-id="contextual-panels">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" id="panel-title">Vendedor Asignado<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr>
                            <td><h5 style="font-weight:bold">Vendedor</h5></td>
                            <td><h5 style="font-weight:bold">&emsp;:&emsp;</h5></td>
                            <td><h5 id="vendedor"></h5></td>
                        </tr>
                        <tr>
                            <td><h5 style="font-weight:bold">Fecha de asignación</h5></td>
                            <td><h5 style="font-weight:bold">&emsp;:&emsp;</h5></td>
                            <td><h5 id="fechaAsignacion"></h5></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section CssTop{
    @Styles.Render("~/Content/ui")
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/lib/Ajax.js?v=1"></script>
    <script src="~/Scripts/app/email-service.js?v=1"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script type="text/javascript">
    urlClienteListado = "@Url.Action("ClientesActivos", "Cliente")";
    urlBuscarVendedorPorCliente = "@Url.Action("ListaVendedorCliente", "Cliente")";
    sClientes = $("#sClientes");
    //LISTAR DEPARTAMENTOS
    function clientesActivosListar() {
        sClientes.html("");//limpiar todas las filas o rows
        $.ajax({
            destroy: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: urlClienteListado,
            data: JSON.stringify({
            }),
            dataType: "json",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                        sClientes.append("<option value='" + result[i].cc_analis + "'>" + result[i].cd_razsoc + "</option>");
                }
                document.getElementById("sClientes").setAttribute("onchange", "buscarVendedorPorCliente();");
                $('#sClientes').selectpicker({
                    maxOptions: 2
                });
                $('#sClientes').selectpicker('refresh');
            },
            error: function (result) {
                alert("Error en javascript...");
            }
        });
    }
    $(document).ready(function () {
        clientesActivosListar();
        $('.selectpicker').selectpicker({
            size: 5,
            title: 'Seleccione una opción'
        });
        });

    function buscarVendedorPorCliente() {
        var vendedor = document.getElementById("vendedor");
        var fechaAsignacion = document.getElementById("fechaAsignacion");
        vendedor.innerText="";//limpiar todas las filas o rows
        fechaAsignacion.innerText="";//limpiar todas las filas o rows
        $.ajax({
            destroy: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: urlBuscarVendedorPorCliente,
            data: JSON.stringify({
                ClienteID: sClientes.val()
            }),
            dataType: "json",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    vendedor.innerText = result[i].vendedor;
                    fechaAsignacion.innerText = result[i].fechaAsignacion;
                }
            },
            error: function (result) {
                alert("Error en javascript...");
            }
        });
    }
    </script>
}