@model Acetesa.TomaPedidos.AdminMvc.Models.EstadoCuentaViewModel

@{
    ViewBag.Title = "Estado de Cuenta";
}

<div class="container">



    @using (Html.BeginForm("Index", "EstadoCuenta", FormMethod.Post, new { @id = "formEstadoCuenta" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("tipoEc")
        <div class="card card-primary">
            <div class="card-header">
                <h3>
                    Estado de Cuenta
                </h3>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-12 mb-3">
                    @Html.LabelFor(model => model.Cliente, htmlAttributes: new { @class = "form-label ps-2" })
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.Cliente, Enumerable.Empty<SelectListItem>(), new { @class = "selectpicker" })
                            @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger", @id = "msgeCliente" })
                            <script>
                                $('#Cliente').attr('data-show-subtext', 'true');
                                $('#Cliente').attr('data-live-search', 'true');
                                $('#Cliente').attr('data-width', '100%');
                            </script>
                            <style>
                                .bootstrap-select .dropdown-menu {
                                    max-width: 100% !important;
                                    font-size: 100%;
                                }
                            </style>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a id="btnResumen" class="btn btn-primary me-2" href="@Url.Action("Resumen", "EstadoCuenta")"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>

                    <a class="btn btn-outline-warning" onclick="onclickEnviarCorreo();"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <a id="btnDescargar" class="btn btn-outline-success" onclick="descargar()"><i class="fa fa-download" aria-hidden="true"></i></a>
                </div>
            </div>
        }
        @{
            Html.RenderPartial("_PartialEnviarMail", Model.EnviarMailViewModel);
        }

        @section CssTop{
            @Styles.Render("~/Content/ui")
            <link href="~/Content/toastr.min.css" rel="stylesheet" />
            <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")
            <script src="~/Scripts/toastr.min.js"></script>
            <script src="~/Scripts/jquery.maskedinput.min.js"></script>
            <script src="~/Scripts/lib/Ajax.js"></script>
            <script src="~/Scripts/jquery.fileDownload.js"></script>
            <script src="~/Scripts/app/email-service.js?v=1"></script>
            <script src="~/Scripts/bootstrap-select.min.js"></script>
            <script>
                _baseUrl = "@ViewBag.BaseUrl";
                var urlSelectClientesSegunCarteraVendedor ="@Url.Action("SelectClientesSegunCarteraVendedor", "Cliente")";
            </script>
            <script src="~/Scripts/app/EstadoCuentaScript.js?v=2"></script>
            <script>
                //Propiedad selectPicker Articulos
                $(document).ready(function () {
                    LlenarClientesSelect();
                    $('.selectpicker').selectpicker({
                        size: 5,
                        title: 'Seleccione una opción'
                    });
                });
            </script>
        }

    </div>
