@model Acetesa.TomaPedidos.AdminMvc.Models.EstadoCuentaViewModel

@{
    ViewBag.Title = "Estado de Cuenta";
}

<h2>Estado Cuenta</h2>

@using (Html.BeginForm("Index", "EstadoCuenta", FormMethod.Post, new { @id = "formEstadoCuenta" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("tipoEc")
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Cliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="ui-widget">
                    @Html.DropDownListFor(model => model.Cliente, ViewBag.GetClientes as SelectList, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger", @id = "msgeCliente" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a id="btnResumen" class="btn btn-primary btn-sm glyphicon glyphicon-search" href="@Url.Action("Resumen", "EstadoCuenta")" title="Buscar"></a>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-sm glyphicon glyphicon-envelope" href="#" onclick="onclickEnviarCorreo();" title="Enviar Estado de Cuenta por correo"></a>
                    <a id="btnDescargar" class="btn btn-default btn-sm glyphicon glyphicon-download-alt" href="#" onclick="descargar()" title="Descargar Estado de Cuenta"> </a>
                </div>
            </div>
        </div>
    </div>
}
@{
    Html.RenderPartial("_PartialEnviarMail", Model.EnviarMailViewModel);
}

@section CssTop{
    @Styles.Render("~/Content/ui")
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/lib/Ajax.js"></script>
    <script src="~/Scripts/jquery.fileDownload.js"></script>
    <script src="~/Scripts/app/email-service.js?v=1"></script>
    <script>
            _baseUrl = "@ViewBag.BaseUrl";
    </script>
    <script src="~/Scripts/app/EstadoCuentaScript.js?v=2"></script>
}