@using System.Globalization
@using Acetesa.TomaPedidos.AdminMvc.Helpers
@using Acetesa.TomaPedidos.AdminMvc.Models
@using Acetesa.TomaPedidos.Transversal.Enums
@model Acetesa.TomaPedidos.AdminMvc.Models.EstadoCuentaResumenViewModel
@{
    ViewBag.Title = "Estado de Cuenta Resumido";
}
<div class="container">
                        
    @if (Model.EstadoCuentaResumenModel != null)
    {
        var deudaDolares = Model.EstadoCuentaResumenModel.fm_deuda_dol;
        var sDeudaDolares = deudaDolares.HasValue ? deudaDolares.Value.ToString("N2") : "0.00";
        var deudaSoles = Model.EstadoCuentaResumenModel.fm_deuda_sol;
        var sDeudaSoles = deudaSoles.HasValue ? deudaSoles.Value.ToString("N2") : "0.00";
        var limiteTotal = Model.EstadoCuentaResumenModel.fm_limite_cred;
        var sLimiteTotal = limiteTotal.HasValue ? limiteTotal.Value.ToString("N2") : "0.00";
        var limiteSaldo = Model.EstadoCuentaResumenModel.fm_saldo_cred;
        var sLimiteSaldo = limiteSaldo.HasValue ? limiteSaldo.Value.ToString("N2") : "0.00";
        var deudaVdaDolares = Model.EstadoCuentaResumenModel.fm_venc_dol;
        var sDeudaVdaDolares = deudaVdaDolares.HasValue ? deudaVdaDolares.Value.ToString("N2") : "0.00";
        var deudaVdaSoles = Model.EstadoCuentaResumenModel.fm_venc_sol;
        var sDeudaVdaSoles = deudaVdaSoles.HasValue ? deudaVdaSoles.Value.ToString("N2") : "0.00";
        var deudaPorVencerDolares = Model.EstadoCuentaResumenModel.fm_por_venc_dol;
        var sDeudaPorVencerDolares = deudaPorVencerDolares.HasValue ? deudaPorVencerDolares.Value.ToString("N2") : "0.00";
        var deudaPorVencerSoles = Model.EstadoCuentaResumenModel.fm_por_venc_sol;
        var sDeudaPorVencerSoles = deudaPorVencerSoles.HasValue ? deudaPorVencerSoles.Value.ToString("N2") : "0.00";

        <div class="row table-ec">
            <h3>
                <b>
                    ESTADO DE CUENTA<br /> @Model.EstadoCuentaResumenModel.Razon_Social
                </b>
            </h3>
            <br />
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="table-responsive table-ec" style="width:100%">
                    <h5><b>LIMITE DE CREDITO @Model.EstadoCuentaResumenModel.cd_mon_cred</b></h5>
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="bg-success text-white">
                            <tr>
                                <th>TOTAL</th>
                                <th>SALDO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-6 col-xs-6">@sLimiteTotal</td>
                                <td class="col-sm-6 col-xs-6">@sLimiteSaldo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="table-responsive table-ec" style="width:100%">
                    <h5><b>DEUDA TOTAL</b></h5>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr class="bg-danger text-white">
                                <th>DOLARES</th>
                                <th>SOLES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-6 col-xs-6">@sDeudaDolares</td>
                                <td class="col-sm-6 col-xs-6">@sDeudaSoles</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="table-responsive table-ec" style="width:100%">
                    <h5><b>DEUDA VENCIDA</b></h5>
                    <table class="table table-responsive table-bordered table-hover table-striped w-100">
                        <thead>
                            <tr class="bg-danger text-white">
                                <th>DOLARES</th>
                                <th>SOLES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-6 col-xs-6">@sDeudaVdaDolares</td>
                                <td class="col-sm-6 col-xs-6">@sDeudaVdaSoles</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="table-responsive table-ec" style="width:100%">
                    <h5><b>DEUDA POR VENCER</b></h5>
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="bg-warning text-white">
                            <tr>
                                <th>DOLARES</th>
                                <th>SOLES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-6 col-xs-6">@sDeudaPorVencerDolares</td>
                                <td class="col-sm-6 col-xs-6">@sDeudaPorVencerSoles</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    @{
        Html.RenderPartial("_PartialEstadoCuentaDetail", Model.EstadoCuentaDetalleViewModel);
    }
    <nav aria-label="...">
        <ul class="pager">
            <li id="btnRegresar" class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Regresar</a></li>
        </ul>
    </nav>

    @section CssTop{
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/toastr.min.js"></script>
        <script src="~/Scripts/jquery.maskedinput.min.js"></script>
        <script src="~/Scripts/lib/Ajax.js"></script>
        <script src="~/Scripts/jquery.fileDownload.js"></script>
        <script src="~/Scripts/app/email-service.js?v=1"></script>
        <script>
            _baseUrl = "@ViewBag.BaseUrl";
        </script>
    }


</div>



