@model Acetesa.TomaPedidos.AdminMvc.Models.CotizacionFindViewModel
@{
    ViewBag.Title = "Listado de Cotizaciones";
}


@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "POST",
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccess",
    OnComplete = "OnComplete",
    OnFailure = "OnFailure",
    UpdateTargetId = "result"
}))


{
    @Html.AntiForgeryToken()
    @Html.Hidden("page")

    <div class="card mb-3">
        <div class="card-header bg-success text-bg-secondary">
            <h3>Listado de Cotizaciones</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 mb-3">
                    @Html.LabelFor(model => model.Cliente, htmlAttributes: new { @class = "form-label ps-2" })
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.Cliente, ViewBag.GetClientes as SelectList, new { @class = "selectpicker" })
                        @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger", @id = "msgeCliente" })
                        <script>
                            $('#Cliente').attr('data-show-subtext', 'true');
                            $('#Cliente').attr('data-live-search', 'true');
                            $('#Cliente').attr('data-width', '100%');
                        </script>
                        <style>
                            .bootstrap-select .dropdown-menu {
                                max-width: 100% !important;
                            }
                        </style>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control", @type = "date" }) @*, @onfocus = "this.showPicker()" *@
                    @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.FechaFinal, new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 mb-3">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownListFor(model => model.Estado, ViewBag.GetEstados as SelectList, new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="card-footer">
            @Html.ActionLink("Nuevo", "Nuevo", "Cotizacion", null, new { @class = "btn btn-outline-success" })
            <input type="submit" value="Buscar" id="btnEnviar" class="btn btn-dark" />

        </div>
    </div>
}
<script>

    var cnProformaSeleccionada = "";
    var cerrarProformaBo = 0;
</script>
@{
    Html.RenderPartial("_PartialCotizacionRechazo", Model);
}

<div class="table-responsive" id="result">
    @if (Model != null && Model.PagedListListaEntity != null && Model.PagedListListaEntity.Any())
    {
        Html.RenderPartial("_PartialCotizacionList", Model);
    }
</div>


@section CssTop{
    @Styles.Render("~/Content/ui")
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @*<link href="~/Content/PagedList.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/lib/Ajax.js?v=1"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script>
        _baseUrl = "@ViewBag.BaseUrl";
        var urlValidaProductosCotizacion = '@Url.Action("ValidaProductosCotizacion", "Pedido")';
        var urlMotivosRechazoCotizacion = '@Url.Action("ListaMotivosRechazoCotizacion", "Cotizacion")';
        var urlRegistrarRechazoCotizacion = '@Url.Action("RegistarRechazoCotizacion", "Cotizacion")';
        var urlRegistrarCierreCotizacionParcial = '@Url.Action("RegistarCierreCotizacionParcial", "Cotizacion")';
        var urlSelectClientesSegunCarteraVendedor = '@Url.Action("SelectClientesSegunCarteraVendedor", "Cliente")';

    </script>
    <script src="~/Scripts/app/CotizacionFindScript.js?v=1"></script>

    <script>
        //Carga el select del modal de Rechazar Cotizacion
        sMotivo = $("#motivoRechazoSelect");
        function LlenarMotivoSelect() {
            $.ajax({
                destroy: true,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: urlMotivosRechazoCotizacion,
                data: JSON.stringify({
                }),
                dataType: "json",
                success: function (result) {
                    var sOption = "<option value=''>Seleccione una opción</option>";
                    for (var i = 0; i < result.length; i++) {
                        sOption += "<option value='" + result[i].idMotivo + "'>" + result[i].descripcion + "</option>";
                    }
                    sMotivo.html(sOption);
                },
                error: function (result) {
                    alert("Error en javascript...");
                }
            });
        }

        //Se ejecuta cuando la ventana ha cargado
        window.onload = function () {
            LlenarMotivoSelect();
            //Cargar el Listado
            $("#btnEnviar").click();
        }

        //Guardar los datos de Rechazar Cotizacion
        document.getElementById("rechazarCotizacionButton").onclick = function () {
            var idMotivo = $('#motivoRechazoSelect option:selected').val();

            if (idMotivo == "") {
                toastr.error("Debe seleccionar un motivo");
                return;
            }
            var mensajeRechazo = $("#mensajeTextArea").val();

            if (cerrarProformaBo == 1) {
                //Pasar a Parcial Cerrado
                $.ajax({
                    destroy: true,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: urlRegistrarCierreCotizacionParcial,
                    data: JSON.stringify({
                        cn_proforma: cnProformaSeleccionada,
                        idMotivo: idMotivo,
                        mensajeRechazo: mensajeRechazo

                    }),
                    dataType: "json",
                    success: function (result) {
                        var id = result.idMensaje;
                        var mensaje = result.mensaje;

                        if (id == '1') {
                            toastr.success(mensaje);
                        }
                        else {
                            toastr.error(mensaje);
                        }
                        $('#rechazoCotizacionModal').modal('toggle');

                        //
                        $("#btnEnviar").click();
                    },
                    error: function (result) {
                        alert("Error en javascript...");
                    }
                });
            } else {
                //Rechazar cotizacion
                $.ajax({
                    destroy: true,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: urlRegistrarRechazoCotizacion,
                    data: JSON.stringify({
                        cn_proforma: cnProformaSeleccionada,
                        idMotivo: idMotivo,
                        mensajeRechazo: mensajeRechazo

                    }),
                    dataType: "json",
                    success: function (result) {
                        var id = result.idMensaje;
                        var mensaje = result.mensaje;

                        if (id == '1') {
                            toastr.success(mensaje);
                        }
                        else {
                            toastr.error(mensaje);
                        }
                        $('#rechazoCotizacionModal').modal('toggle');

                        //
                        $("#btnEnviar").click();
                    },
                    error: function (result) {
                        alert("Error en javascript...");
                    }
                });
            }

        }

        //Reiniciar el modal cuando se cierra
        $('#rechazoCotizacionModal').on('hidden.bs.modal', function (e) {
            $('#motivoRechazoSelect').prop('selectedIndex', 0);
            $("#mensajeTextArea").val("");
        });
    </script>
}