@using System.Configuration;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@ViewBag.Title - Toma Pedidos</title>
    @RenderSection("CssTop", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*Styles for Datatable*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/dataTables.bootstrap5.min.css" rel="stylesheet" />
    @*<link href="~/Content/datatables.min.css" rel="stylesheet" />*@


</head>
<body style="padding-top:100px;">
    @Html.Hidden("VALIDA_RUC", ConfigurationManager.AppSettings["HABILITA_CONSULTA_RUC"])
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark p-0">
        <div class="container-fluid p-0 pb-0">
            <a class="navbar-brand m-0 p-0" href="#">
                @{
                    var sqlDB = new System.Data.SqlClient.SqlConnectionStringBuilder(
                        System.Configuration.ConfigurationManager.ConnectionStrings["DefaultConnection"].ConnectionString);
                    if (sqlDB.InitialCatalog == "ZICO_ERP04")
                    {
                        <img src='@Url.Content("~/Content/Images/GALPESA LOGO.png")' style='width: 110px; height: 32px;' />
                    }
                    else
                    {
                        <img src='@Url.Content("~/Content/Images/ACETESA LOGO.png")' style=' width: 100%; height: 100%;' />
                    }
                }
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown root">
                        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Consulta
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="dropdown-item">Precios</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Acetesa", "Precio_Acetesa", "Producto", null, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Galpesa", "Precio_Galpesa", "Producto", null, new { @class = "dropdown-item" })
                                    </li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Venta", "Venta", "Venta", null, new { @class = "dropdown-item" })
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="dropdown-item">Stock</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Acetesa", "StockPorGrupo_Acetesa", "Producto", null, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Galpesa", "StockPorGrupo_Galpesa", "Producto", null, new { @class = "dropdown-item" })
                                    </li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Vendedor Por Cliente", "VendedorAsignadoPorCliente", "Cliente", null, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Cartera de Clientes", "CarteraCliente", "Cliente", null, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("Estado de Cuenta", "Index", "EstadoCuenta", null, new { @class = "nav-link mx-2" })
                    </li>
                    <li class="nav-item dropdown root">
                        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cotizaciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                @Html.ActionLink("Nuevo", "Nuevo", "Cotizacion", new { reset = 1 }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Listado", "Listado", "Cotizacion", null, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown root">
                        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pedidos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                @Html.ActionLink("Nuevo", "Nuevo", "Pedido", new { id = "", reset = 1 }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Listado", "Listado", "Pedido", null, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </li>
                    @{
                        var sqlDB2 = new System.Data.SqlClient.SqlConnectionStringBuilder(
                            System.Configuration.ConfigurationManager.ConnectionStrings["DefaultConnection"].ConnectionString);
                        if (sqlDB2.InitialCatalog == "ZICO_ERP01")
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Planificación de Visitas", "Listado", "PlanificacionVisitas", null, new { @class = "nav-link mx-2" })
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>



    <section class="content">
        <div class="container body-content p-0">
            @RenderBody()

        </div>
    </section>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @*<script src="~/Scripts/bootstrap.bundle.js"></script>*@


    @*<script src="~/Scripts/popper.min.js"></script>*@
    @*<script src="~/Scripts/popper.js"></script>*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/app/GlobalScript.js?v=4"></script>


    @*Scripts for Datatable*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap5.min.js"></script>
    @*<script src="~/Scripts/dataTables.select.min.js"></script>*@



    <script>
        localStorage.setItem('LSI_HABILITAR_SUNAT', '@ConfigurationManager.AppSettings["HABILITA_CONSULTA_RUC"]');
    </script>

    <style>

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #cccccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #ffffff;
            }

            .dropdown-submenu .pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }

        .root:hover > .dropdown-menu {
            display: block;
        }
    </style>

    <style title="Sticky Footer">
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
        }
    </style>

    @RenderSection("scripts", required: false)

    <footer class="footer bg-dark">
        <div class="container">
            <span class="text-light">&copy; @DateTime.Now.Year - TomaPedidosApp</span>
        </div>
    </footer>
</body>

</html>