@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        
    </li>
    <li class="nav-item dropdown root">
        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @User.Identity.GetUserName()
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
                @Html.ActionLink("Actualizar Contraseña", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
            </li>
            <li>
                @Html.ActionLink("Actualizar Datos", "ActualizarDatos", "Vendedor", new { reset = 1 }, new { @class = "dropdown-item" })
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Salir del Sistema</a>
    </li>
</ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            @Html.ActionLink("Registrarse", "Register", "Account", null, new { id = "registerLink", @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Iniciar Sesión", "Login", "Account", null, new { id = "loginLink", @class = "nav-link" })
        </li>
    </ul>
}
