@model Acetesa.TomaPedidos.AdminMvc.Models.ClienteNewViewModel
<form id="clienteForm" novalidate>
    <div class="modal fade" id="modal-cliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ruc, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            @Html.EditorFor(model => model.Ruc, new { htmlAttributes = new { @class = "form-control ruc-sunat", @maxlength = "11" } })
                            <div class="input-group-addon" onclick="TraerDatosSUNAT(undefined,1);" style="cursor:pointer">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Ruc, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control razon-social-sunat", @maxlength = "65" } })
                        @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="cc_sector">Sector</label>
                        <select class="form-control cc_sector-sunat" id="cc_sector" name="cc_sector" data-val="true"></select>
                    </div>
                    <div class="form-group">
                        <label for="cc_departamento">Departamento</label>
                        <select class="form-control cc_departamento-sunat" id="cc_departamento" name="cc_departamento" data-val="true"></select>
                    </div>
                    <div class="form-group">
                        <label for="cc_provincia">Provincia</label>
                        <select class="form-control cc_provincia-sunat" id="cc_provincia" name="cc_provincia" data-val="true"></select>
                    </div>
                    <div class="form-group">
                        <label for="cc_distrito">Distrito</label>
                        <select class="form-control cc_distrito-sunat" id="cc_distrito" name="cc_distrito" data-val="true"></select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control domicilio-sunat", @maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control telefono-sunat", @maxlength = "45" } })
                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control email-sunat", @maxlength = "255" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseModal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnSendClienteNew">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>


