@model Acetesa.TomaPedidos.AdminMvc.Models.EnviarMailViewModel

<div class="modal fade" id="modal-send-mail" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning text-dark bg-opacity-75">
                <h5 class="modal-title" id="staticBackdropLabel">Nuevo Mensaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> @*btn-close-white*@
            </div>
            <div class="modal-body bg-secondary bg-opacity-10">
                <form id="enviarMailForm" novalidate>
                    <row>
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.Asunto, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Asunto, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.Para, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Para, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.ConCopia, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.ConCopia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConCopia, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.Mensaje, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Mensaje, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mensaje, "", new { @class = "text-danger" })
                        </div>
                    </row>
                </form>
            </div>
            <div class="modal-footer bg-secondary bg-opacity-10 border-top-0">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" id="btnCloseModal">Cerrar</button>
                <button type="button" class="btn btn-warning bg-opacity-75" id="btnSendMailModal">Enviar</button>
            </div>
        </div>
    </div>
</div>


@*<form id="enviarMailForm" novalidate>
    <div class="modal fade" id="modal-send-mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Nuevo mensaje</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Asunto, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Asunto, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Para, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Para, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConCopia, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ConCopia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConCopia, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mensaje, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Mensaje, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mensaje, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseModal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnSendMailModal">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</form>*@