@model Acetesa.TomaPedidos.AdminMvc.Models.ContactoTransporteNewModel
    <div class="modal fade" id="PopupContactoTransportista" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccionar Contacto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tblContactoTransportistas" class="table table-striped table-bordered display table-hover"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnNuevoContacto">Nuevo</button>
                    <button id="btnCerrarContactoTransporte" type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
<form id="ContactoForm" novalidate>
    <div class="modal fade" id="PopupNuevoContactoTransportista" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nuevo Contacto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control nombres-contacto", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefono1, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Telefono1, new { htmlAttributes = new { @class = "form-control telefono1-contacto", @maxlength = "10" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefono2, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Telefono2, new { htmlAttributes = new { @class = "form-control telefono2-contacto", @maxlength = "10" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control email-contacto", @maxlength = "60" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" id="btnGrabarContactoTransporte">Grabar</button>
                    </div>
                </div>
            </div>
        </div>
</form>