@using System.Configuration;
@model Acetesa.TomaPedidos.AdminMvc.Models.PrecioViewModel
@if (Model != null && Model.PrecioModels != null && Model.PrecioModels.Any())
{

    <div class="bg-success bg-opacity-50 position-relative p-3 rounded-2 mt-2 mb-2">
        <a class="btn btn-success" href="javascript:ExportarExcelPrecio('table-precios')"><i class="fa fa-file-excel-o"></i> Excel</a>
        <span class="badge bg-warning text-dark position-absolute end-0 top-0 me-2 mt-2"><b>T.C</b>: @Model.TipoCambio</span>
        <span class="badge bg-light text-dark position-absolute end-0 bottom-0 me-2 mb-2"><b>Registros:</b>: @Model.PrecioModels.Count()</span>
    </div>

    <div class="card table-responsive" id="tableSector">
        <div class="card-header bg-white">
            <table class="table table-striped table-hover w-100" id="table-precios">
                <thead>
                    <tr>
                        <th colspan="6" scope="col"></th>
                        <th colspan="2" scope="col" class="table-warning">Precio 1 (Sin IGV)</th>
                        <th colspan="2" scope="col" class="table-success">Precio 2 (Sin IGV)</th>
                        <th colspan="1" scope="col"></th>
                    </tr>

                    <tr>
                        <th scope="col" class="table-dark">Código</th>
                        <th scope="col" class="table-dark">Descripción</th>
                        <th scope="col" class="table-dark">U.M.</th>
                        <th scope="col" class="table-dark">Mon</th>
                        <th scope="col" class="table-dark">Peso.U</th>
                        <th scope="col" class="table-dark">UNxTN</th>
                        <th scope="col" class="table-dark">TN</th>
                        <th scope="col" class="table-dark">Unidad</th>
                        <th scope="col" class="table-dark">TN</th>
                        <th scope="col" class="table-dark">Unidad</th>
                        <th scope="col" class="table-dark">Stock</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int fila = 0;
                    }
                    @foreach (var item in Model.PrecioModels)
                    {
                        fila = fila + 1;
                        var precioSoles = item.fm_valorunit;
                        var precioDolares = item.fm_valorunit2;
                        var nSoles = Double.Parse(precioSoles);
                        var classAlertDanger = "";
                        <tr class="@classAlertDanger">
                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.cc_artic)</td>
                            <td style="text-align:left;" title="@item.cd_artic">@Html.DisplayFor(modelItem => item.cd_artic)</td>
                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.cc_unmed)</td>
                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.cd_moneda)</td>
                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.fq_peso_teorico)</td>
                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.fq_unid_tm)</td>
                            @*@if (fila % 2 == 0)
                            {
                                <td style="text-align:center;background-color:#FEFEDB;">@Html.DisplayFor(modelItem => item.fm_valorvta_tn)</td>
                                <td style="text-align:center;background-color:#FEFEDB;">@Html.DisplayFor(modelItem => item.fm_valorunit)</td>
                                <td style="text-align:center;background-color:#EFFFDD;">@Html.DisplayFor(modelItem => item.fm_valorvta_tn2)</td>
                                <td style="text-align:center;background-color:#EFFFDD;">@Html.DisplayFor(modelItem => item.fm_valorunit2)</td>
                            }
                            else
                            {*@
                                <td class="table-warning text-end">@Html.DisplayFor(modelItem => item.fm_valorvta_tn)</td>
                                <td class="table-warning text-end">@Html.DisplayFor(modelItem => item.fm_valorunit)</td>
                                <td class="table-success text-end">@Html.DisplayFor(modelItem => item.fm_valorvta_tn2)</td>
                                <td class="table-success text-end">@Html.DisplayFor(modelItem => item.fm_valorunit2)</td>
                            @* } *@
                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.ArticStk)</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var ListaPreciosAux = null;
        var FamiliaAux = null;
        var SubFamiliaAux = null;
        var StocksAux = null;

        function ExportarExcelPrecio() {
            var sUrl = "descargarExcelPrecio";

            $.fileDownload(sUrl, {
                httpMethod: "POST",
                data: {
                    ListaPrecios: ListaPreciosAux,
                    Familia: FamiliaAux,
                    SubFamilia: SubFamiliaAux,
                    Stocks: StocksAux,
                    empresa: "Acetesa"
                },
                failMessageHtml: "There was a problem generating your report, please try again."
            });
        }

        $('#table-precios').DataTable({
            "pageLength": 50
        });

    </script>
}
<style type="text/css">
    table thead tr th {
        text-align: center;
    }

    #table-precios tbody > tr:hover td {
        background-color: #F5F5F5 !important;
    }
</style>

@{
    try
    {
        if (Model.TipoCambio == Convert.ToDecimal(0.0000))
        {
            <script type="text/javascript">
                toastr.warning("No se ha registrado el tipo de cambio del día");
            </script>
        }
    }
    catch (Exception)
    {

    }
}

