@model Acetesa.TomaPedidos.AdminMvc.Models.ClienteNewViewModel
<form id="clienteForm" novalidate>
        <div class="modal fade" id="modal-cliente" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Nuevo Cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3">
                                @Html.LabelFor(model => model.Ruc, htmlAttributes: new { @class = "form-label" })
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Ruc, new { htmlAttributes = new { @class = "form-control ruc-sunat", @maxlength = "11" } })
                                    @Html.ValidationMessageFor(model => model.Ruc, "", new { @class = "text-danger" })
                                    <div class="input-group-addon" onclick="TraerDatosSUNAT(undefined,1);" style="cursor:pointer">
                                        <button type="button" class="btn btn-secondary fa fa-search h-100"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 mb-3">
                                @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control razon-social-sunat", @maxlength = "65" } })
                                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-12 mb-3">
                                <label for="cc_sector">Sector</label>
                                <select class="form-select cc_sector-sunat" id="cc_sector" name="cc_sector" data-val="true"></select>
                            </div>


                            <div class="col-12 col-lg-4 mb-3">
                                <label for="cc_departamento">Departamento</label>
                                <select class="form-select cc_departamento-sunat" id="cc_departamento" name="cc_departamento" data-val="true"></select>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <label for="cc_provincia">Provincia</label>
                                <select class="form-select cc_provincia-sunat" id="cc_provincia" name="cc_provincia" data-val="true"></select>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <label for="cc_distrito">Distrito</label>
                                <select class="form-select cc_distrito-sunat" id="cc_distrito" name="cc_distrito" data-val="true"></select>
                            </div>


                            <div class="col-12 mb-3">
                                @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control domicilio-sunat", @maxlength = "100" } })
                                @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-12 col-lg-6 mb-3">
                                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control telefono-sunat", @maxlength = "45" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control email-sunat", @maxlength = "255" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="btnCloseModal">Cerrar</button>
                        <button type="button" class="btn btn-success" id="btnSendClienteNew">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
</form>


