@using Acetesa.TomaPedidos.AdminMvc.Models

@model Acetesa.TomaPedidos.AdminMvc.Models.VentaViewModel

@{
    ViewBag.Title = "Consulta de Venta";
}
<div class="container">

    <iframe id="ifrmReporte" style="display:none"></iframe>
    @using (Ajax.BeginForm(new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "OnBegin",
        OnComplete = "OnComplete",
        OnFailure = "OnFailure",
        UpdateTargetId = "result"
    }))
    {
        @Html.AntiForgeryToken()


        <form>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card mb-1">
                <div class="card-header bg-success text-white">
                    <h3>
                        Consulta de Ventas
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.Cliente, htmlAttributes: new { @class = "form-label" })
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.Cliente, ViewBag.GetClientes as SelectList, new { @class = "selectpicker" })
                                @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger", @id = "msgeCliente" })
                                <script>
                                    $('#Cliente').attr('data-show-subtext', 'true');
                                    $('#Cliente').attr('data-live-search', 'true');
                                    $('#Cliente').attr('data-width', '100%');
                                </script>
                                <style>
                                    .bootstrap-select .dropdown-menu {
                                        max-width: 100% !important;
                                    }
                                </style>
                            </div>
                        </div>



                        <div class="col-12 col-lg-6 mb-3">
                            @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control", @type = "date"})
                            @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.FechaFinal, new { @class = "form-control", @type = "date"})
                            @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <input type="submit" value="Buscar" class="btn btn-dark" />
                </div>
            </div>
        </form>
    }

    @{
        Html.RenderPartial("_PartialEnviarMail", Model.EnviarMailViewModel);
    }

    @section CssTop{
        @Styles.Render("~/Content/ui")
        <link href="~/Content/toastr.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="~/Scripts/jquery.maskedinput.min.js"></script>
        <script src="~/Scripts/toastr.min.js"></script>
        <script src="~/Scripts/lib/Ajax.js"></script>
        <script src="~/Scripts/jquery.fileDownload.js"></script>
        <script src="~/Scripts/app/email-service.js?v=1"></script>
        <script src="~/Scripts/bootstrap-select.min.js"></script>
        <script src="~/Scripts/app/VentaScript.js?v=1"></script>
        <script src="~/Scripts/app/VentaFindScript.js?v=1"></script>

        <script title="URLs">
        _baseUrl = "@ViewBag.BaseUrl";
        urlValidarVendedorCliente = "@Url.Action("ValidarVendedorCliente", "Venta")";
        urlClienteListado = "@Url.Action("ClientesActivos", "Cliente")";
        </script>
    }

    <div class="table-responsive" id="result">
        @{
            Html.RenderPartial("_PartialVentaList", Model);
        }
    </div>

</div>

<script title="cargarSelectCliente">

    function clientesActivosListar() {
        Cliente = $("#Cliente");
        Cliente.html("");
        $.ajax({
            destroy: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: urlClienteListado,
            data: JSON.stringify({
            }),
            dataType: "json",
            beforeSend: function () {
            },
            success: function (result) {
                Cliente.append("<option class='fw-bold' value=''>VENTAS EN GENERAL</option>");
                $.each(result, function (i, item) {
                    Cliente.append("<option value='" + item.cc_analis + "'>" + item.cd_razsoc + "</option>");
                });
                $('#Cliente').selectpicker('refresh');
            },
            error: function (result) {
                alert("Error en javascript...");
            },
            complete: function () {
            }
        });
    }
</script>


<script type="text/javascript">

    $(document).ready(function () {
        clientesActivosListar();
        $('.selectpicker').selectpicker({
            size: 5,
            title: 'Seleccione una opción'
        });
    });
</script>